<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>XYZ</title>

    <!-- Font Awesome SVGs -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- CSS -->
  <link rel="stylesheet" href="styles_main.css">
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-code"></i></a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
       <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    
     
     <ul class="navbar-nav ms-auto">
         <li class="nav-item">
             <a class="nav-link" href="/login">Log in</a>
         </li>
         <li class="nav-item">
             <a class="nav-link" href="/register">Sign up</a>
         </li>
     </ul>
     </div>
     
 </nav>


 <section id="welcome">
    <!-- Description and buttons -->
    <div class="row">

        <div class="col-lg-6 col-md-12">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius sed mi aliquet scelerisque. 
        Donec nisl augue, rhoncus a convallis eu, elementum sed purus. Nulla suscipit ligula sit amet justo vestibulum congue. 
        Quisque at justo volutpat, tincidunt ex a, sodales sem. Etiam posuere eu dui sed tempor. Duis ac auctor justo. 
        Cras vitae tortor ac quam sodales ornare ut ut nisi. Quisque eget erat et libero commodo viverra.
        Nam tellus dui, dictum sagittis mauris non, maximus iaculis turpis. Etiam tellus quam, tincidunt at convallis eu, 
        mattis et odio. Suspendisse enim ante, maximus vel nisi consectetur, hendrerit aliquam nulla. Suspendisse pulvinar 
        vulputate mauris, eu placerat ligula auctor euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
        Morbi vel nulla tristique, feugiat enim eu, vestibulum metus. Ut vehicula quam risus, vel iaculis justo pulvinar ac. 
        Etiam ultrices dolor vitae ultrices pulvinar.</p>
    </div>
  

    <div class="col-lg-6 col-md-12">
      <div class="buttons">
    <a href="/login"><button type="button" class="btn btn-primary btn-lg cta-button">Log in</button></a>
    <a href="/register"> <button type="button" class="btn btn-success btn-lg cta-button">Sign up</button> </a>
  </div>
</div>
</section>
    </div>







    <script src="index.js" charset="utf-8"></script>
  </body>

</html>